<header class="page-header">
    <h1>Members List</h1>
    <nav>
        <form action="/member/new" method="get">
            <input type="submit" value="Enroll New Member" class="button">
        </form>
    </nav>
</header>

<div class="page-content">
    <ul id="members-list">
        <% @members.sort_by { |member| member.first_name }.sort_by { |member| member.last_name}. each do |member| %>
            <li>
                <a href="/member/<%= member.id %>">
                    <%= member.full_name %> (<%= member.preferred_name %>)
                </a>
            </li>
        <% end %>
    </ul>
</div>
