<header class="page-header">
    <h1>Members List</h1>
    <form action="/member/new" method="get">
        <input type="submit" value="Enroll New Member">
    </a>
</header>

<ul id="members-list">
    <% @members.each do |member| %>
        <li>
            <a href="/member/<%= member.id %>">
                <%= member.full_name %> (<%= member.preferred_name %>)
            </a>
        </li>
    <% end %>
</ul>
