<header class="page-header">
    <h1>Members List</h1>
    <a href="/member/new">
        <button>Enroll New Member</button>
    </a>
    <hr>
</header>

<ul id="members-list">
    <% @members.each do |member| %>
        <li>
            <a href="/member/<%= member.id %>">
                <%= member.full_name %> (<%= member.preferred_name %>)
            </a>
        </li>
    <% end %>
</ul>
