<h1>Members List</h1>
<hr>

<ul id="members-list">
    <% @members.each do |member| %>
        <li>
            <a href="/member/<%= member.id %>">
                <%= member.full_name %> (<%= member.preferred_name %>)
            </a>
        </li>
    <% end %>
</ul>
