<header class="page-header">
    <h1>Class List</h1>
    <a href="/class/new">
        <button>Create New Class</button>
    </a>
</header>

<ul id="class-list">
    <% @gym_classes.each do |gym_class| %>
        <li>
            <a href="/class/<%= gym_class.id %>">
                <%= gym_class.name %> (<%= gym_class.trainer_name %>)
            </a>
        </li>
    <% end %>
</ul>
