<h1>Class List</h1>
<hr>

<ul id="class-list">
    <% @gym_classes.each do |gym_class| %>
        <li>
            <a href="/class/<%= gym_class.id %>">
                <%= gym_class.name %> (<%= gym_class.trainer_name %>)
            </a>
        </li>
    <% end %>
</ul>
