<h1><%= @gym_class.name %></h1>
<hr>

<div class="details">
    <ul class="details-list">
        <li><b>Class:</b> <%= @gym_class.name %></li>
        <li><b>Trainer:</b> <%= @gym_class.trainer_name %></li>
        <li>
            <b>Available Times:</b>
            <ul class="details-list-nested">
                <% @gym_class.available_times.each do |time| %>
                    <li><%= time[1...-1] %></li>
                <% end %>
            </ul>
        </li>
    </ul>
    <hr>
</div>

<footer>
    <a href="/class-list">
        <p>Back to Class List</p>
    </a>
</footer>
