<header class="page-header">
    <h1>Definitely Legitimate Gym</h1>
</header>

<div class="page-content">
    <div id="welcome-message">
        <p>A management app for a gym that definitely exists.</p>
    </div>

    <div id="review-quote"> 
        <p><%= @quote %><br>—<%= @name %></p>
    </div>
</div>
