<header class="page-header">
    <h1>Gym Manager</h1>
</header>

<div class="page-content">
    <div id="welcome-message">
        <p>Welcome to Gym Manager (name pending)...</p>
    </div>

    <div id="review-quote"> 
        <p><%= @quote %><br>—<%= @name %></p>
    </div>
</div>
