<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Gym Manager</title>
</head>

<body>

    <header class="site-header">
        <img 
            src="https://via.placeholder.com/150x60" 
            alt="Gym Manager Logo"
            id="header-logo"
        >
        <nav>
            <form action="/" method="get">
                <input type="submit" value="Home" class="nav-button">   
            </form>
            <form action="/members-list" method="get">
                <input type="submit" value="Members List" class="nav-button">
            </form>
            <form action="/class-list" method="get">
                <input type="submit" value="Class List" class="nav-button">
            </form>
            <form action="/booking/new" method="get">
                <input type="submit" value="New Booking" class="nav-button">
            </form>
        </nav>
        <img 
            src="https://via.placeholder.com/150x60" 
            alt="This image is here for layout purposes. My apologies to screen readers. How does alignment work?"
            id="header-logo"
            <%# TODO: Fix layout so it doesn't rely on this... %>
        >
    </header>

    <div class="content">
        <%= yield %>
    </div>

</body>

</html>
