<header class="page-header">
    <h1>Oops...</h1>
</header>

<div class="page-content">
    <p>You didn't answer all the required fields. Your changes have not been saved.</p>

    <footer>
    <a href="/">Return to homepage</a>
    </footer>
</div>
