:root {
    --site-background: #CED3DC;
    --content-background: #FCF7F8;
    --primary-accent: #4E8098;
    --secondary-accent: #A31621;
    --light-accent: #90C2E7;
    --body-text: #170312;

    --body-font: 'Trebuchet MS', 
                 'Lucida Sans Unicode', 
                 'Lucida Grande', 
                 'Lucida Sans', 
                 Arial, 
                 sans-serif;
    --title-font: Georgia,
                  'Times New Roman',
                  Times, 
                  serif;
}

body {
    margin: 0;
    background-color: var(--site-background);
    font-family: var(--body-font);
}


.site-header {
    border-bottom: 3px solid var(--secondary-accent);
    padding: 10px;
    background-color: var(--primary-accent);
}

.site-header * {
    display: inline-block;
}

.nav-button{
    width: 100px;
    height: 40px;
    font-family: var(--body-font);
    font-weight: bold;
}


.content {
    background-color: var(--content-background);
}
