/* DEFAULT/ROOT STYLES */

:root {
    --site-background-light: #CED3DC;
    --site-background-dark: #736B77;
    --site-background: var(--site-background-dark);
    --content-background: #FCF7F8;
    --primary-accent: #4E8098;
    --secondary-accent: #A31621;
    --light-accent: #90C2E7;
    --body-text: #170312;

    --body-font: 'Trebuchet MS', 
                 'Lucida Sans Unicode', 
                 'Lucida Grande', 
                 'Lucida Sans', 
                 Arial, 
                 sans-serif;
    --title-font: Georgia,
                  'Times New Roman',
                  Times, 
                  serif;
}

body {
    margin: 0;
    background-size: cover;
    background: var(--site-background);
    font-family: var(--body-font);
}


/* SITE HEADER STYLES */

.site-header {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid var(--secondary-accent);
    padding: 10px;
    background-color: var(--primary-accent);
    box-shadow: 0px 5px 15px var(--body-text);
}

.site-header nav {
    display: flex;
}

.nav-button{
    width: 125px;
    height: 50px;
    margin-left: 5px;
    margin-right: 5px;
    font-family: var(--body-font);
    font-size: 16px;
    font-weight: bold;
}


/* SHARED CONTENT STYLES */

.content {
    position: absolute;
    width: 55%;
    height: 75%;
    border-radius: 0px 0px 15px 15px;
    left:21.5%;
    right: 21.5%;
    padding: 1%;
    background-color: var(--content-background);
    box-shadow: 0px 10px 15px var(--body-text);
}

.page-header {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 5% 20px 5%;
    border-bottom: 2px solid var(--secondary-accent);
    font-family: var(--title-font);
}

.page-content {
    margin: 5% 10% 10% 10%;
}


/* PAGE-SPECIFIC STYLES */
/* Home */
#welcome-message {
    text-align: right;
}

#review-quote {
    transform: rotate(15deg);
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2vw;
    text-shadow: 
        -1px -1px 0 white,
        1px -1px 0 white,
        -1px 1px 0 white,
        1px 1px 0 white,
        -2px -2px 0 black,  
        2px -2px 0 black,
        -2px 2px 0 black,
        2px 2px 0 black;
    color: red;
}
